* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
}

html {
  background-color: #1d1d1d;
  color: whitesmoke;
  font-family:
    JetBrainMono Nerd Propon,
    monospace;
}
